# Working directories.
iso-workdir
massos-rootfs
sources
stage3/sources

# Output builds and their checksums.
massos-*-rootfs-*.tar
massos-*-rootfs-*.tar.*
massos-*.iso
massos-*.iso.*

# Builder-specific signing keys and certificates.
keys/secureboot

# For internal use by MassOS developers.
utils/programs/*.next
