insmod part_msdos
insmod part_gpt
insmod linux
insmod chain
insmod iso9660
insmod ext2
insmod fat
insmod ntfs
insmod usbms
insmod usb_keyboard
insmod font
insmod gzio

search --file --no-floppy --set=root /THIS_IS_THE_MASSOS_LIVECD

set timeout=20
set gfxpayload=keep

if [ x$feature_all_video_module = xy ]; then
  insmod all_video
else
  insmod efi_gop
  insmod efi_uga
  insmod ieee1275_fb
  insmod vbe
  insmod vga
  insmod video_bochs
fi

if loadfont (memdisk)/boot/grub/fonts/unicode.pf2; then
  insmod gfxterm
  insmod png
  set gfxmode=auto
  terminal_input console
  terminal_output gfxterm
  background_image /splash2.png
fi

menuentry "MassOS Live CD" {
  echo "Loading (please be patient)..."
  linux /vmlinuz root=live:CDLABEL=MASSOS ro quiet splash rd.live.image rd.live.ram
  initrd /initramfs.img
}

menuentry "MassOS Live CD (no copy-to-RAM, low memory systems)" {
  echo "Loading (please be patient)..."
  linux /vmlinuz root=live:CDLABEL=MASSOS ro quiet splash rd.live.image
  initrd /initramfs.img
}

menuentry "MassOS Live CD (fallback graphics, unsupported GPUs)" {
  echo "Loading (please be patient)..."
  linux /vmlinuz root=live:CDLABEL=MASSOS ro quiet splash rd.live.image rd.live.ram nomodeset
  initrd /initramfs.img
}

menuentry "MassOS Live CD (no copy-to-RAM + fallback graphics)" {
  echo "Loading (please be patient)..."
  linux /vmlinuz root=live:CDLABEL=MASSOS ro quiet splash rd.live.image nomodeset
  initrd /initramfs.img
}

menuentry "Run memory test (Memtest86+)" {
  chainloader /EFI/tools/memtest64.efi
}

menuentry "Boot from local disk" {
  exit 1
}

menuentry "Boot from network (IPXE)" {
  chainloader /EFI/tools/ipxe.efi
}

menuentry "Manage secure boot keys (KeyTool)" {
  chainloader /EFI/tools/KeyTool.efi
}

menuentry "UEFI EDK2 Shell" {
  chainloader /EFI/tools/shellx64.efi
}

menuentry "UEFI Firmware Settings" {
  fwsetup
}

menuentry "Reboot system" {
  reboot
}

menuentry "Shut down system" {
  halt
}
