UI vesamenu.c32
PROMPT 0
TIMEOUT 200
ONTIMEOUT massos

MENU TITLE Welcome to the MassOS Live CD
MENU BACKGROUND splash.png

LABEL massos
MENU LABEL Boot MassOS Live CD
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image rd.live.ram

LABEL massos-nocopytoram
MENU LABEL Boot MassOS Live CD (no copy-to-RAM, for very low memory systems)
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image

LABEL massos-nomodeset
MENU LABEL Boot MassOS Live CD (fallback graphics, for unsupported GPUs)
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image rd.live.ram nomodeset

LABEL massos-nocopytoram-nomodeset
MENU LABEL Boot MassOS Live CD (very low memory systems + unsupported GPUs)
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image nomodeset

LABEL memtest
MENU LABEL Run memory test (Memtest86+)
KERNEL memtest64.bin

LABEL reboot
MENU LABEL Reboot system
COM32 reboot.c32

LABEL poweroff
MENU LABEL Shut down system
COM32 poweroff.c32
