UI vesamenu.c32
PROMPT 0
TIMEOUT 200
ONTIMEOUT massos

MENU TITLE Welcome to MassOS
MENU BACKGROUND splash.png

LABEL massos
MENU LABEL MassOS Live CD
SAY Loading (please be patient)...
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image rd.live.ram

LABEL massos-nocopytoram
MENU LABEL MassOS Live CD (no copy-to-RAM, low memory systems)
SAY Loading (please be patient)...
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image

LABEL massos-nomodeset
MENU LABEL MassOS Live CD (fallback graphics, unsupported GPUs)
SAY Loading (please be patient)...
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image rd.live.ram nomodeset

LABEL massos-nocopytoram-nomodeset
MENU LABEL MassOS Live CD (no copy-to-RAM + fallback graphics)
SAY Loading (please be patient)...
KERNEL /vmlinuz
APPEND initrd=/initramfs.img root=live:CDLABEL=MASSOS ro quiet splash rd.live.image nomodeset

LABEL memtest
MENU LABEL Run memory test (Memtest86+)
KERNEL memtest64.bin

LABEL localboot
MENU LABEL Boot from local disk
COM32 chain.c32
APPEND hd0 0

LABEL ipxe
MENU LABEL Boot from network (IPXE)
KERNEL ipxe.lkrn

LABEL reboot
MENU LABEL Reboot system
COM32 reboot.c32

LABEL poweroff
MENU LABEL Shut down system
COM32 poweroff.c32
