[Unit]
Description=ISC DHCP Client on %I
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=forking
PIDFile=/run/dhclient-%I.pid
ExecStart=/sbin/dhclient -pf /run/dhclient-%I.pid -lf /var/lib/dhclient/dhclient-%I.lease %I
ExecStop=/sbin/dhclient -r -pf /run/dhclient-%I.pid -lf /var/lib/dhclient/dhclient-%I.lease %I

[Install]
WantedBy=multi-user.target
