[Unit]
Description=Samba SMB/CIFS server
After=network.target nmbd.service winbindd.service

[Service]
Type=forking
EnvironmentFile=/etc/default/samba
PIDFile=/run/samba/smbd.pid
ExecStart=/usr/sbin/smbd -D $SMBD_OPTS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
